*{ /*margenes de la web*/
    margin: 0%;
    padding: 0%;     
}

body {
    background-image: url(fondoVerano.jpg); /*FONDO AL FINNNN. (ESTE ES EL DEL MODO CLARO)*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn {
    margin: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    color:rgb(83, 67, 41);
    background-color: #ecebe594;
    border: 3px solid rgb(83, 67, 41);
    border-radius: 20px;
}

.reborde {
    width: 500px; 
    height: 140px; 
    border: 5px solid rgb(83, 66, 44); 
    border-radius: 10px; 
    box-sizing: border-box; 
    overflow: hidden; 
    margin: 20px;
}

.reborde iframe {
    width: 100%;
    height: 100%;
    border: none; 
}

.soundcloud-link {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

#introduccion{
    margin: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-family: monospace;
}

.titulo{
    text-align: center;
    font-weight: bold;
    padding: 5px;
}


.main-container{ /*tamaño del fondo del centro*/

    width: 80%;
    margin: auto;
    font-size: 20px;

}

.medio { /*Fondo del centro*/
    background-color: #eaecdf73;
    color: #372525;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}
